.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix
data/*
__pycache__/my_net.cpython-312.pyc
__pycache__/my_sampler.cpython-312.pyc
.vscode/launch.json
